<!-- Créer une nouvelle catégorie -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Créer une ceinture noire</h3>
    </div>
    <div class="panel-body">
        <!-- Formulaire de création -->
        <form action="category/create" method="POST" role="form">
            <div class="form-group">
                <label for="">Prénom et Nom</label>
                <input type="text" class="form-control" placeholder="Prénom et NOM" name="name" required/>
            </div>
            <div class="form-group">
                <label for="">Date d'obtention</label>
                <input type="date" class="form-control" placeholder="Date d'obtention" name="date" required/>
            </div>
            <div class="form-group">
                <label for="">Numéro du Dan</label>
                <input type="text" class="form-control" placeholder="Numéro du Dan" name="dan" required/>
            </div>
            <div class="form-group">
                <label for="">Photo</label>
                <input type="text" class="form-control" placeholder="Photo ( facultatif )" name="image" required/>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Créer</button>
        </form>

    </div>
</div>