{% extends 'layout.html.twig' %}

{% block content %}
    <section class="container">
        <h2>Évènements</h2>
        <div class="row text-center">
            {% for event in events %}
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <img src="{{ event.picture }}" alt="flyers de l'événement">
                        <div class="caption">
                            <h3>{{ event.title }}</h3>
                            <p>{{ event.dateEvent | date('d/m/Y H:i') }}</p>
                            <p>{{ event.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}