<nav class="navbar navbar-custom navbar-fixed-top mbs-2" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header text-overflow">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Administration TKO</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
            <ul class="nav navbar-nav" id="navMenu">
                <li><a href="/admin">accueil</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                        albums <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/albums/categories">Catégories</a></li>
                        <li><a href="/admin/albums/galleries">Galeries</a></li>
                    </ul>
                </li>
                <li><a href="/admin/events">événements</a></li>
                <li><a href="/admin/black-belts">Ceintures noires</a></li>
                <li><a href="/admin/offices">bureaux</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>