<div class="row m-t-0">
    {% for image in images %}
        <div class="col-md-6">
            <div class="thumbnail">
                <a href="{{ image.url }}" target="_blank">
                    <img src="{{ image.url }}" alt="Image"/>
                </a>
                <div class="caption">
                    <form action="/admin/albums/gallery/{{ gallery.id }}/image/{{ image.id }}/delete" method="POST">
                        <button type="submit" class="btn btn-danger btn-block">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</div>