<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Ajouter des images</h3>
    </div>
    <div class="panel-body">
        <form method="POST" action="images/upload" enctype="multipart/form-data">
            <div class="form-group">
                <input name="files[]" type="file" multiple="multiple"/>
            </div>
            <button class="btn btn-default btn-block">Envoyer</button>
        </form>
    </div>
</div>