{% extends 'layout.html.twig' %}

{% block content %}
<section>
    <div class="container">
        <!-- Inscription au club -->
        <div class="row">
            <div class="col-xs-12">
                <h2>Inscription au club</h2>
                <ul>
                    <li>Date d'inscription: 07 mai 2018</li>
                    <li>Documents demandés lors de l'inscription:</li>
                </ul>
                <ol>
                    <li>Certificat médical obligatoire.</li>
                    <li>2 photos d'identités (une seule en cas de nouvelle adhésion.)</li>
                    <li>Réglement de la cotisation annuelle.</li>
                </ol>
            </div>
        </div>

        <!-- Baby taekwondo -->
        <div class="row">
            <div class="col-xs-12">
                <h2>Tarifs pour l'année 2017/2018</h2>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Baby taekwondo</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>(1 cours/semaine): pour les enfants nés en 2011/2012/2013.</li>
                            <li>Tarif "Nouveau baby": 100€ cotisation annuelle + 35€ pour la licence fédérale (FFTDA).</li>
                            <li>Tarif "Ancien baby": 90€ cotisation annuelle + 35€ pour la licence fédérale (FFTDA).</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Enfants</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>(1 cours/semaine): pour les enfants nés de 2007 à 2010.</li>
                            <li>Tarif "Nouveau": 90€ cotisation annuelle + 35€ pour la licence fédérale (FFTDA).</li>
                            <li>Tarif "Ancien Enfant": 80€ cotisation annuelle + 35€ pour la licence fédérale (FFTDA).</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Jeunes & Adultes</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>(4 cours/semaine): nés en 2006 et avant.</li>
                            <li>Tarif "Nouveau": 90€ cotisation annuelle + 35€ pour la licence fédérale (FFTDA).</li>
                            <li>Tarif "Ancien enfant": 80€ cotisation annuelle + 35€ pour la licence fédérale.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}