<section class="trigram trigram-earth">
    <div class="container container-access">
        <h2 class="text-center">Horaires et plan d'accès</h2>
        <div class="row">
            <div class="col-md-7">
                <!-- Horaires -->
                <table class="table table-bordered">
                    <thead class="day-week">
                    <tr class="text-center">
                        <th></th>
                        <th class="thead-color text-center">Lundi</th>
                        <th class="thead-color text-center">Mardi</th>
                        <th class="thead-color text-center">Mercredi</th>
                        <th class="thead-color text-center">Jeudi</th>
                        <th class="thead-color text-center">Vendredi</th>
                        <th class="thead-color text-center">Samedi</th>
                    </tr>
                    </thead>
                    <tbody class="img-table">
                        <tr>
                            <th class="text-overflow hours">09h30 - 10h15</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="lesson"><p class="text-lesson"><span class="strong">BABY TAEKWONDO</span><br/> Dojo La Vannoise</p></td>
                        </tr>

                        <tr>
                            <th class="text-overflow hours">10h15 - 11h30</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="lesson"><p class="text-lesson"><span class="strong">ENFANT</span><br/> Dojo La Vannoise</p></td>
                        </tr>

                        <tr>
                            <th class="text-overflow hours">11h30 - 12h45</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="lesson"><p class="text-lesson"><span class="strong">JEUNES ADULTES</span><br/> Dojo La Vannoise</p></td>
                        </tr>

                        <tr>
                            <th class="text-overflow hours">18h00 - 19h15</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="lesson"><p class="text-lesson"><span class="strong">ENFANT</span><br/> Salle Marcel Garcin</p></td>
                            <td></td>
                        </tr>

                        <tr>
                            <th class="text-overflow hours">19h15 - 20h15</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="lesson"><p class="text-lesson"><span class="strong">JEUNES ADULTES</span><br/> Salle Marcel Garcin</p></td>
                            <td></td>
                        </tr>

                        <tr>
                            <th class="text-overflow hours">20h00 - 21h30</th>
                            <td></td>
                            <td class="lesson"><p class="text-lesson"><span class="strong">JEUNES ADULTES</span><br/> Dojo La Vannoise</p></td>
                            <td></td>
                            <td class="lesson"><p class="text-lesson"><span class="strong">JEUNES ADULTES</span><br/> Dojo La Vannoise</p></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="horaires col-md-7">
                <ul>
                    <li><h3>Baby Taekwondo: (1 cours/semaines)</h3>
                        <p>pour les enfants nés en 2011, 2012, 2013</p>
                        <h4>Samedi de 09h30 à 10h15 au dojo La Vanoise (Olivet)</h4>
                    </li>
                    <li><h3>Cours Enfants: (1 cours/semaines)</h3>
                        <p>pour les enfants nés entre 2007 et 2010</p>
                        <h4>Vendredi de 18h-19h15 à la salle Marcel Garcin (Espace Reine Blanche à Olivet)</h4>
                        <h4>ou</h4>
                        <h4>Samedi de 10h15 à 11h30 au dojo La Vanoise (Olivet)</h4>
                    </li>
                    <li><h3>Cours Enfants a Adultes: (4 cours/semaines)</h3>
                        <p>nés en 2006 et avant</p>
                        <ul>
                            <li><h4>mardi de 20h00 à 21h30 au dojo La Vanoise (Olivet)</h4></li>
                            <li><h4>jeudi de 20h00 à 21h30 au dojo La Vanoise (Olivet)</h4></li>
                            <li><h4>Vendredi de 19h15 à 20h15 à la salle Marcel Garcin (Espace Reine Blanche à Olivet)</h4></li>
                            <li><h4>Samedi de 11h30 à 12h45 au dojo La Vanoise (Olivet)</h4></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-md-5">
                <!-- Map -->
                <div id="home-map" data-json="{{ training_rooms | json_encode() }}" data-access-token="{{ map_access_token }}"></div>
                <hr/>

                <!-- Adresse -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% for room in training_rooms %}
                            <p>
                                <b>{{ room.name }}</b><br/>
                                <a href="#">{{ room.address }}</a>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>