<section class="access">
    <div class="container container-access">
        <h2>Horaires et plan d'accès</h2>
        <div class="row">
            <div class="col-md-7">
                <!-- Horaires -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="day-week">
                                <tr class="text-center">
                                    <th {#class="thead-bordered"#}></th>
                                    <th class="thead-color">Lundi</th>
                                    <th class="thead-color">Mardi</th>
                                    <th class="thead-color">Mercredi</th>
                                    <th class="thead-color">Jeudi</th>
                                    <th class="thead-color">Vendredi</th>
                                    <th class="thead-color">Samedi</th>
                                </tr>
                                </thead>
                                <tbody class="img-table">
                                    <tr>
                                        <th class="text-overflow hours">09h30 à 10h15</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="lesson"><p class="text-lesson"><span class="strong">BABY TAEKWONDO</span><br/> Dojo La Vannoise</p></td>
                                    </tr>

                                    <tr>
                                        <th class="text-overflow hours">10h15 à 11h30</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="lesson"><p class="text-lesson"><span class="strong">ENFANT</span><br/> Dojo La Vannoise</p></td>
                                    </tr>

                                    <tr>
                                        <th class="text-overflow hours">11h30 à 12h45</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="lesson"><p class="text-lesson"><span class="strong">JEUNES ADULTES</span><br/> Dojo La Vannoise</p></td>
                                    </tr>

                                    <tr>
                                        <th class="text-overflow hours">18h00 à 19h15</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="lesson"><p class="text-lesson"><span class="strong">ENFANT</span><br/> Salle Marcel Garcin</p></td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <th class="text-overflow hours">19h15 à 20h15</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="lesson"><p class="text-lesson"><span class="strong">JEUNES ADULTES</span><br/> Salle Marcel Garcin</p></td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <th class="text-overflow hours">20h00 à 21h30</th>
                                        <td></td>
                                        <td class="lesson"><p class="text-lesson"><span class="strong">JEUNES ADULTES</span><br/> Dojo La Vannoise</p></td>
                                        <td></td>
                                        <td class="lesson"><p class="text-lesson"><span class="strong">JEUNES ADULTES</span><br/> Dojo La Vannoise</p></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Map -->
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                    <div id="home-map" data-json="{{ training_rooms | json_encode() }}" data-access-token="{{ map_access_token }}"></div>
                    </div>
                </div>


                <!-- Adresse -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                {% for room in training_rooms %}
                                    <p>
                                        <b>{{ room.name }}</b><br/>
                                        <a href="#">{{ room.address }}</a>
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>