<section class="trigram trigram-earth">
    <div class="container container-access">
        <h2 class="text-center">Horaires et plan d'accès</h2>
        <div class="row">
            <div class="col-md-7">
                <!-- Horaires -->
                <table class="table table-bordered">
                    <thead class="day-week">
                    <tr class="text-center">
                        <th></th>
                        <th class="thead-color text-center">Lundi</th>
                        <th class="thead-color text-center">Mardi</th>
                        <th class="thead-color text-center">Mercredi</th>
                        <th class="thead-color text-center">Jeudi</th>
                        <th class="thead-color text-center">Vendredi</th>
                        <th class="thead-color text-center">Samedi</th>
                    </tr>
                    </thead>
                    <tbody class="img-table">
                        <tr>
                            <th class="text-overflow hours">09h30 - 10h15</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="lesson"><p class="text-lesson"><span class="strong">BABY TAEKWONDO</span><br/> Dojo La Vannoise</p></td>
                        </tr>

                        <tr>
                            <th class="text-overflow hours">10h15 - 11h30</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="lesson"><p class="text-lesson"><span class="strong">ENFANT</span><br/> Dojo La Vannoise</p></td>
                        </tr>

                        <tr>
                            <th class="text-overflow hours">11h30 - 12h45</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="lesson"><p class="text-lesson"><span class="strong">JEUNES ADULTES</span><br/> Dojo La Vannoise</p></td>
                        </tr>

                        <tr>
                            <th class="text-overflow hours">18h00 - 19h15</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="lesson"><p class="text-lesson"><span class="strong">ENFANT</span><br/> Salle Marcel Garcin</p></td>
                            <td></td>
                        </tr>

                        <tr>
                            <th class="text-overflow hours">19h15 - 20h15</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="lesson"><p class="text-lesson"><span class="strong">JEUNES ADULTES</span><br/> Salle Marcel Garcin</p></td>
                            <td></td>
                        </tr>

                        <tr>
                            <th class="text-overflow hours">20h00 - 21h30</th>
                            <td></td>
                            <td class="lesson"><p class="text-lesson"><span class="strong">JEUNES ADULTES</span><br/> Dojo La Vannoise</p></td>
                            <td></td>
                            <td class="lesson"><p class="text-lesson"><span class="strong">JEUNES ADULTES</span><br/> Dojo La Vannoise</p></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="horaires col-md-7">
                <h3>Baby Taekwondo: <p><span>(1 cours/semaines)</span></p></h3>
                <h4>
                    <strong>Samedi de 09h30 à 10h15</strong>
                    <p>au dojo La Vanoise (Olivet)</p>
                </h4>

                <h3>Cours Enfants: <p><span>(1 cours/semaines)</span></p></h3>
                <h4>
                    <strong>Vendredi de 18h-19h15</strong>
                    <p>à la salle Marcel Garcin (Espace Reine Blanche à Olivet)</p>
                </h4>

                <h4 class="or"><strong>ou</strong></h4>

                <h4>
                    <strong>Samedi de 10h15 à 11h30</strong>
                    <p>au dojo La Vanoise (Olivet)</p>
                </h4>

                <h3>Cours Enfants a Adultes: <p><span>(4 cours/semaines)</span></p></h3>
                <ul>
                    <li><h4><strong>Mardi de 20h00 à 21h30</strong>
                            <p>au dojo La Vanoise (Olivet)</p>
                        </h4>
                    </li>
                    <li><h4><strong>Jeudi de 20h00 à 21h30</strong>
                            <p>au dojo La Vanoise (Olivet)</p>
                        </h4>
                    </li>
                    <li><h4><strong>Vendredi de 19h15 à 20h15</strong>
                            <p>à la salle Marcel Garcin (Espace Reine Blanche à Olivet)</p>
                        </h4>
                    </li>
                    <li><h4><strong>Samedi de 11h30 à 12h45</strong>
                            <p>au dojo La Vanoise (Olivet)</p>
                        </h4>
                    </li>
                </ul>  
            </div>

            <div class="col-md-5">
                <!-- Map -->
                <div id="home-map" data-json="{{ training_rooms | json_encode() }}" data-access-token="{{ map_access_token }}"></div>
                <hr/>

                <!-- Adresse -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% for room in training_rooms %}
                            <p>
                                <b>{{ room.name }}</b><br/>
                                <a href="#">{{ room.address }}</a>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>