<section class="home-banner">
        <div class="banner-content">
            <h1 class="titleH1">Taekw<span class="color-bleu">o</span>nd<span class="color-red">o</span> Keumgang Olivet</h1>
        </div>
        <div class="banner-footer container">
            <div class="banner-icons">
                <div class="banner-icon"><img src="../assets/images/home/Logo_fftda.png" alt="Icon"/></div>
                <div class="banner-icon"><img src="../assets/images/home/logo_tkd_keumgang.png" alt="Icon"/></div>
            </div>
        </div>
</section>