<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-md-offset-10 hidden-sm hidden-xs">
            <img class="trigram-water" src="assets/images/trigrams/water.png" alt="water trigram"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive img-border-member-club center-block" src="{{ presentation.image }}" alt="membres club"/>
        </div>
        <div class="col-md-5 ">
            <h2>{{ presentation.title }}</h2>
            <p>
                {{ presentation.content }}
            </p>
        </div>
    </div>
</div>