<!-- Créer une nouvelle catégorie -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Créer une catégorie</h3>
    </div>
    <div class="panel-body">
        <!-- Formulaire de création -->
        <form action="category/create" method="POST" role="form" ajax>
            <div class="form-group">
                <label for="">Nom</label>
                <input type="text" class="form-control" placeholder="Nom de la nouvelle catégorie" name="name" required/>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Créer</button>
        </form>
    </div>
</div>