<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Suppression</h3>
    </div>
    <div class="panel-body">
        <form action="category/delete" method="POST">
            <input type="hidden" name="categoryId" value="{{ selection.id ?? '' }}" required/>
            <button type="submit" class="btn btn-danger btn-block">Supprimer définitivement</button>
        </form>
    </div>
</div>