

<footer>

    <div class="container">

        <div class="row">

            <h1>Footer</h1>

            <div class="col-lg-4 col-md-3 col-sd-6 col-xs-12 fb_and_website_links">
                <ul>
                    <li><a href="https://www.facebook.com/groups/33620000923/" >Notre groupe Facebook</a></li>
                    <li><a href="http://www.taekwondo-olivet.com/rss" >Abonnement à la newsletter</a></li>
                    <li><a href="">Ajouter ce site à vos favoris</a></li>
                    <li><a href="">Crédits</a></li>
                </ul>
            </div>



            <div class="col-lg-4 col-md-5 col-sd-6col-xs-12 localisation_and_logo">
                <div class="row">

                    <div class="symbol col-lg-4 col-md-4 col-sd-12 col-sd-12 text-lg-right text-md-right text-sd-right text-xs-center">
                        <img src="assets/images/logo_taekwondo_club_olivet.jpg" height="100"/>
                    </div>

                    <div class="col-lg-8 col-md-8 col-sd-12 olivet">

                        <div class="adress">
                            <p class="upper">Club Keumgang Taekwondo</p>
                            <p>138 Allée François Villon</p>
                            <p>45160 Olivet</p>
                        </div>

                        <div class="phone">
                            <p>06.24.43.35.21</p>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-4 col-sd-12 col-xs-12 taekwondo_and_local_links">

                <div class="row">

                    <div class="col-12 taekwondo_links">
                        <ul>
                            <li><a href="www.liguedetaekwondoducentre.fr/" >Ligue de Taekwondo Centre</a></li>
                            <li><a href="www.fftda.fr/" >Fédération Française du Taekwondo</a></li>
                            <li><a href="https://worldtaekwondoeurope.org/">Taekwondo Europe</a></li>
                            <li><a href="http://www.worldtaekwondo.org/">World Taekwondo</a></li>
                        </ul>
                    </div>

                    <div class="col-12 local_links">
                        <ul>
                            <li><a href="www.olivet.fr/fr" >Ville d'Olivet</a></li>
                            <li><a href="http://www.loiret.fr/">Conseil Général du Loiret</a></li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>

</footer>