<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-md-offset-10 hidden-sm hidden-xs">
            <img class="trigramme-eau" src="assets/images/trigrammes/eau.png" alt="trigramme eau"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive img-border-member-club center-block" src="http://via.placeholder.com/350x150" alt="membres club"/>
        </div>
        <div class="col-md-5 ">
            <h2>Présentation du club</h2>
            <p>Passionnés par les arts martiaux, les ..... ont créé le club labellisé Keumgang Taekwondo Olivet. </p>
            <p>Le club accueille tous les taekwondoïstes de  à    ans de la ceinture blanche à la ceinture noire. </p>
            <p>Le club enseigne le taekwondo pour tous les niveaux, toutes les ambitions ( découverte, loisir et compétition).</p>
        </div>
    </div>
</div>