/* ##### GLOBAL ##### */
html { background-color: #E8E8E8; }
a { color: #0047A0; }
body { background-color: transparent; }

/* ##### HELPERS ##### */
.text-overflow { white-space: nowrap; }
.row { margin-bottom: 20px; }
.fullwidth { width: 100% !important; }

/* ##### NAVBAR ##### */
.navbar.navbar-custom {
    border: none;
    border-radius: 0px;
    background-color: white;
}
.navbar.navbar-custom .navbar-brand { white-space: nowrap; }
.navbar-custom .navbar-toggle { border-color: #0047A0; }
.navbar-custom .navbar-toggle .icon-bar { background-color: #0047A0; }
.navbar-custom li a:hover, .navbar-custom li a:focus {
    background: none;
    border-color: #EEEEEE;
}
.navbar-custom li a {
    text-transform: uppercase;
    color: gray;
    font-size: 12px;
}
@media (min-width: 768px) {
    .navbar-custom { padding: 15px 0px; }
    .navbar-custom li a {
        border: 1px solid transparent;
        padding: 10px;
        white-space: nowrap;
    }
    .navbar-custom li.active a {
        border-color: #0047A0;
        color: #0047A0;
        font-weight: bold;
    }
    .navbar-custom .navbar-brand { margin-top: 1px; }
    .navbar-custom .collapse { overflow: auto !important; }
    .navbar-custom .nav { display: flex; }
    .navbar.navbar-custom > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/** ##### HOME MAP ##### */
#home-map { height: 400px; }

/* ##### PRESENTATION CLUB ##### */
.img-border-member-club {
    border: 10px solid ghostwhite;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.trigram-water {
    width: 60px;
    position: absolute;
    left: 100%;
    top: 20px;
}

/* ##### GALLERY ##### */
.gallery {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.gallery .gallery-item {
    display: block;
    margin: 0px 15px 15px 0px;
    width: 150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    opacity: 0.75;
    transition: all 0.25s ease;
}

.gallery .gallery-item:hover { opacity: 1; }

.gallery .gallery-item:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.gallery .gallery-item:last-of-type { margin-right: 0px; }