{% extends 'Admin/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Albums - Galeries
{% endblock %}

{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-md-4">{% include 'Album/Admin/Gallery/create.html.twig' %}</div>
        </div>
    </section>
{% endblock %}