{% extends 'layout.html.twig' %}
{% block content %}
<section class="presentation-taekwondo">
    <div class="container">
        <div class="row text-center">
            <h2>Présentation du Taekwondo</h2>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive img-border center-block" src="../assets/images/presentation/presentation_taekwondo.jpg" alt="photo"/>
            </div>

            <div class="col-md-6 signification">
                <div class="row description-taekwondo">
                    <div class="col-md-2">
                        <img class="img-taekwondo img-responsive center-block" src="../assets/images/presentation/tae.png" alt="photo"/>
                    </div>
                    <div class="col-md-10 align">
                        <p><strong><em>"TAE"</em></strong> signifie coup de pied</p>
                    </div>
                </div>

                <div class="row description-taekwondo">
                    <div class="col-md-2">
                        <img class="img-taekwondo img-responsive  center-block" src="../assets/images/presentation/kwon.png" alt="photo"/>
                    </div>
                    <div class="col-md-10 align">
                        <p><strong><em>"KWON"</em></strong> signifie le poing</p>
                    </div>
                </div>

                <div class="row description-taekwondo">
                    <div class="col-md-2">
                        <img class="img-taekwondo img-responsive  center-block" src="../assets/images/presentation/do.png" alt="photo"/>
                    </div>
                    <div class="col-md-10 align">
                        <p><strong><em>"DO"</em></strong> veut dire la Voie, l'Esprit</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <p>Le Taekwondo se traduit donc littéralement par <strong><em>"la Voie par l'utilisation des techniques de pied et de poing"</em></strong></p>
            <p>Cet art martial coréen vise à utiliser avec un maximum d'efficacité toutes les parties du corps humain servant à se défendre ou à attaquer.
            Il se pratique essentiellement sans armes. Les techniques de coups de pied(<em>Tchagui</em>) et les techniques de bras sont l'apanage de l'entraînement
            de Taekwondo. Afin d'être efficace dans le combat et de tendre vers une maîtrise technique, il est primordiale de leur imposer un travail
            assidu et long. Le Taekwondo transforme alors le corps en une arme redoutable.</p>
            <p>Outre la recherche d'une efficacité martiale, le Taekwondo constitue une
            pratique physique idéale qui permetd'harmoniser l'ensemble du corps. Cette pratique saine améliore la santé et le bien-être.
            </p>
            <p>Enfin, il ne faut pas voir dans le Taekwondo qu'une activité visant à frapper, porter des coups ou encore casser des planches, des tuiles...
            Il exige un certain état d'esprit: respect d'autrui, persévérance, loyauté, etc. Le Taekwondo vise à l'épanouissement de l'âme autant qu'à celui du corps.</p>
            <p class="text-center"><strong><em>Le Taekwondo représente une voie vers l'union du corps et de l'esprit, un chemin vers la sagesse, un art de vivre.</em></strong></p>
        </div>

        <div class="row text-center">
            <div class="col-md-3">
                <p><a role="button" type="button" class="btn color-btn btn-primary btn-lg" href="#practice">PRATIQUE</a></p>
            </div>
            <div class="col-md-3">
                <p><a role="button" type="button" class="btn color-btn btn-primary btn-lg" href="#history">HISTOIRE</a></p>
            </div>
            <div class="col-md-3">
                <p><a role="button" type="button" class="btn color-btn btn-primary btn-lg" href="#technical">TECHNIQUE</a></p>
            </div>
            <div class="col-md-3">
                <p><a role="button" type="button" class="btn color-btn btn-primary btn-lg" href="#lexicon">LEXIQUE</a></p>
            </div>
        </div>
    </div>
</section>

<section class="practice">
    <div class="container">
        <div class="row text-center">
            <p><a id="practice"></a></p>
            <h2 class="practice-title">Les formes de pratique</h2>
            <p>Les formes de pratique du Taekwondo sont:</p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>La pratique "technique" <em>(Kibon)</em></h3>
                <p> Elle correspond au travail des techniques de bases, d’attaques et de défenses, de coups de pieds et des techniques de bras.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border center-block" src="../assets/images/practice/kibon.jpg"  alt="poomse"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive img-border center-block" src="../assets/images/practice/poomse.jpg"  alt="poomse"/>
            </div>
            <div class="col-md-6">
                <h3>Les "Poomsé" ou <em>(Poomsae)</em></h3>
                <p>ce sont les enchaînements codifiés créés par des experts coréens dans les années 70. Ils se définissent comme un combat conventionnel
                    contre plusieurs adversaires imaginaires. Ils sont "l’essence" du Taekwondo. La série des <em>"Poomsé Palgwe"</em> a laissé place au travail
                    de la série <em>"Tae Geuk"</em>. D’autre part, les pratiquants ceintures noires ont une série spécifique pour les grades "Dan", série dite
                    des <em>"Poomsé Supérieurs"</em>…
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Le combat compétition</h3>
                <p>c’est la forme de pratique qui est présente aux Jeux Olympiques <em>(depuis Sydney 2000)</em>. L’utilisation des techniques de pieds est
                    privilégiée pour la marque des points. Cette forme est réglementée par la W.T.F. <em>(World Taekwondo Federation): catégories de poids, protections obligatoires, durée d’un combat, surface de combat, etc.)</em>
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border center-block" src="../assets/images/practice/competition.jpg"  alt="combat competition"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive img-border center-block img-combat" src="../assets/images/practice/combat.jpg"  alt="combat"/>
            </div>
            <div class="col-md-6">
                <h3>Le combat libre</h3>
                <p> à l’appréciation de l’enseignant, une forme de combat plus ‘’libre’’ peut être proposée afin de développer par exemple les techniques
                    de poings ou encore les balayages. Il s’agira de rester tout de même dans une recherche de développement technique.
                </p>
                <h3>Le combat codifié</h3>
                <p>il s’agit d’une forme qui permet de perfectionner les techniques de bras ou de pieds dans un contexte d’opposition protocolaire:
                    L’attaquant se place en position basse <em>"Ap Koubi"</em> et exécute un blocage bas <em>"Ale Makki"</em> avec le cri <em>"Kihap"</em>.
                    Le défenseur, qui lui fait face en position <em>"Kibon Jumbi seugui"</em>, va déclencher l’échange en donnant à son tour le <em>"Kihap"<em>.
                    L’attaquant avance alors en donnant un coup de poing direct (niveau visage <em>"Eulgoul"</em>, niveau moyen <em>"Montong"</em> selon le travail technique souhaité…),
                    le défenseur peut alors perfectionner une technique ou un enchaînement technique: vitesse d’exécution, distance, déplacements,
                    précision, etc… Lors de ce travail codifié, on ne porte évidemment pas les coups <em>("Han Bon Kyorugui")</em>.
                    On peut retrouver dans le combat codifié des formes différentes, sur un pas ou encore sur trois pas <em>("Sam bon Kyorugui")</em>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>La Self-défense ou <em>"Hoshinsool"</em></h3>
                <p>Il s’agit d’utiliser les techniques propres au Taekwondo dans une situation d’agression. Le travail de défense sur saisie, de
                    dégagement, de clefs, de balayages ou de projections constitue le contenu large et varié du Hoshinsool.
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border center-block" src="../assets/images/practice/defense.jpg"  alt="self-défense "/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive img-border center-block" src="../assets/images/practice/casse.jpg"  alt="la casse"/>
            </div>
            <div class="col-md-6">
                <h3>La casse ou <em>"Gyok pa"</em></h3>
                <p>le plus souvent réservée pour les démonstrations, la casse est un travail très intéressant pour tester l’efficacité de ses techniques.
                    Là encore le pratiquant va pouvoir perfectionner ses techniques (précision, distance, vitesse d’exécution,…) sur des casses variées:
                    casse de précision, casse de force, casse acrobatique, …
                </p>
            </div>
        </div>
    </div>
</section>

<section class="Histoire">
    <div class="container">
        <div class="row text-center">
            <p><a id="history"></a></p>
            <h2 class="history-title">Le Taekwondo: Histoire et origines</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive img-border center-block img-carte" src="../assets/images/history/carte.PNG"  alt="Histoire ancienne"/>
            </div>
            <div class="col-md-6">
                <h3>Histoire ancienne</h3>
                <p>Si l’on remonte dans le temps, avant notre ère, on apprend qu’il y eut en Corée une période dite des trois royaumes ; <strong>royaume Koguryo</strong>
                    <em>(37 avant JC à 668)</em>, <strong>royaume Baekjae</strong><em>(18 avant JC à 661)</em>, <strong>royaume Silla</strong><em>(57 avant JC à 676)</em> .
                    Les royaumes ont rivalisé par l’affrontement de corps militaires tels que les Sonbae pour Koguryo, les Kukson pour Baekjae et les
                    Hwarang pour Silla.
                </p>
                <p>Cependant, dans la première période de leur histoire, c’est surtout dans le royaume de Koguryo que l’art martial s’est développé de
                    façon importante pour deux raisons :
                </p>
                <ul>
                    <li>la situation géographique limitrophe avec la Chine <em>(Mandchourie du Nord actuelle)</em></li>
                    <li>la pratique de joutes martiales à mains nues qui étaient très prisées par la population lors de festivités</li>
                </ul>
                <p>
                    L’art martial pratiqué alors s’appelait <strong>Subak</strong> ou <strong>Takyun</strong> selon qu’il utilisait des techniques de mains <em>(Su)</em> ou des déséquilibres et
                    techniques de pieds.
                    Les festivals servaient également de tremplins pour la promotion au sein des services de l’Etat dont l’armée. Une partie du programme
                    comprenait alors : courses de chevaux, tir à l’arc, maniement de l’épée, etc.
                    L’art martial du <strong>Subak</strong> va être introduit au royaume de <strong>Silla</strong> par le biais d’une action commune des royaumes Silla et Koguryo pour repousser
                    une invasion des pirates japonais. Puis les joutes de Subak vont susciter le même engouement que sur la population du Koguryo à travers ce
                    que l’on appellera respectivement : Subak, Dokkyomi, Taekkoni.
                    C’est autour du 4ème siècle que cette pratique martiale va être systématisée au sein des corps d’élite militaire de Silla.
                    Elle devient alors le Hwarangdo ; mode de combat et mode de vie empreint de valeurs philosophiques, proches du bouddhisme, et possédant un
                    code de conduite : le Hwarang-o-kae.
                    Les corps d’élite des Hwarangs vont repousser les attaques des pirates japonais et amener la signature d’un traité d’alliance avec la Chine
                    permettant d’unifier la péninsule en un seul royaume.
                </p>
                <p>La Corée se réalise alors en un seul royaume Silla unifié (676 à 935 après JC) puis Koryo (918 à 1392), pendant lequel on relève la pratique
                    d’un art martial appelé Subak Taekyon.
                    C’est à cette époque que l’art martial du Tang Su Do (de la dynastie chinoise Tang) va être introduit dans la péninsule coréenne. Un certain
                    mixage des techniques se produit alors dans ce que l’on va appeler selon les lieux Kwon-Bop, Subak, Tang-Su, Taekyun.
                    L’avènement de la dynastie Koryo va voir l’apogée de la pratique martiale avec l’utilisation systématique des arts martiaux dans l’éducation
                    des castes militaires et nobles. Le Taekyun devient alors un véritable outil de promotion sociale.
                    A la fin de la dynastie Koryo, l’apparition des armes à feu va diminuer cet impact et à l’avènement de la dynastie Chosun on constatera un
                    déclin important des arts martiaux traditionnels qui vont alors évoluer et perdurer dans les milieux monastiques (véhicule de réalisation
                    spirituelle) ou populaires (récréatifs).
                    A la période Chosun (1392 à 1910), les arts martiaux traditionnels restent : Taekyon, Subyok, Subak, Kwon-Bop.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>Transition</h3>
                <p>Pendant l’occupation japonaise (1910 à 1945), les arts martiaux traditionnels sont interdits. Les Japonais introduisent le Karaté et le Judo
                    pendant 35 ans. Assimilés par la culture coréenne, ces arts martiaux deviennent le Tangsudo-Kongsudo survivance du Taekyon.
                    Dès la naissance de la République de Corée (1945), Tangsudo, Taesudo, Subakdo sont pratiqués dans tout le pays puis unifiés en Taekwondo.
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border center-block img-transition" src="../assets/images/history/Seal_of_the_Government-General_of_Korea.png"  alt="Transition "/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive img-border center-block img-flag" src="../assets/images/history/korean_flag.jpg"  alt="De 1945 à nos jours "/>
            </div>
            <div class="col-md-6">
                <h3>De 1945 à nos jours</h3>
                <p>Après la libération de l’occupation japonaise, une véritable fièvre s’empare des milieux de pratique des arts martiaux.
                    Le plus actif en ce domaine est le maître Song Do Ki, héritier du Taekyon l’art martial traditionnel coréen.
                    Sa volonté est de reconstruire l’identité nationale coréenne autour d’un art martial totalement coréen. Cependant, un bon nombre de pratiques
                    martiales de l’époque étaient d’obédience chinoise ou japonaise. L’unification était donc une chose difficile.
                </p>
                <p>Les écoles d’alors s’appelaient Kwan et prospéraient chacune de leur côté. On peut citer les célèbres :
                </p>
                <ul>
                    <li>Chung Do Kwan (Maître Lee Won Guk), dite "Ecole de la Vague Bleue"</li>
                    <li>Mu Do Kwan ( Maître Hwang Ki)</li>
                    <li>Song Mu Kwan ( Maître No Byung Jik)</li>
                    <li>Ji Do Kwan ( Maître Lee Jong Woo)</li>
                    <li>Yeon Mu Kwan ( Maître Jon Sang Sob)</li>
                </ul>
                <p>Un déclic se produit en 1952, lors d’une démonstration effectuée par des experts de Tang Su Do devant le Président de la République d’alors : Lee Sung Man.
                    Impressionné, celui-ci demande : « quel est donc cet art martial ? », lorsqu’on lui répond du Tang Su Do, il s’emporte et s’exclame « Pourquoi Tang Su Do,
                    alors que notre art martial traditionnel s’appelle Tae Kyon ? »
                    Le mot d’ordre politique est donné et les Kwan vont coréanniser leur pratique jusque dans l’étymologie, basée alors sur les caractères chinois.
                    En 1961, les Kwan s’unifient et forment la fédération coréenne de Tae Su Do.
                    En 1963, il est adopté comme sport officiel des championnats des sports nationaux coréens et en 1965 le terme Taekwondo est adopté officiellement.
                    En 1971, le Président Park Chong Hee en fait le sport national et met en valeur systématiquement le Taekwondo lors de toutes les manifestations nationales.
                </p>
                <p>En l’espace de quelques années, environ 2000 experts, sont envoyés de par le monde pour internationaliser cet art martial.
                    Le Kukkiwon, centre d’entraînement national, propriété de l’Etat, est crée en 1972.
                    En 1973, la fédération mondiale de Taekwondo prend naissance.
                    Les premiers championnats du Monde sont organisés en 1973 à Séoul au Kukkiwon.
                    En 1974, le Taekwondo fait son entrée aux Jeux Asiatiques en tant que sport officiel.
                    En 1975, admission à l’A.A.U (Amateur Athlète Union) aux USA et au GAISF (General Association of International Sports Federations).
                    En 1979, le Président de la WTF (Kim Eun Yong) est élu Chairman de la fédération mondiale des sports non olympiques.
                    En 1980, la WTF est reconnue par le CIO et en 1981 par les Jeux Mondiaux (World Games) puis par les Jeux Pan Américains en 1986.
                    En 1994, le Taekwondo est adopté comme sport officiel pour les Jeux Olympiques de Sydney 2000.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    En France, la première démonstration de Taekwondo eut lieu en 1967 à Fontainebleau où, dans le cadre militaire (réunion du Comité International du Sport Militaire),
                    des Coréens firent découvrir divers aspects de l'art martial coréen.
                    Suite à cela, la Fédération Française de Judo demanda une démonstration de Taekwondo à l'occasion de la Coupe de France de Karaté.
                    A la suite de cette démonstration, Henry Plée (PDG Judo International) et Marc Bigoureau (PDG de la SEDIREP) demandèrent à l'Ambassade de Corée de faire venir un expert
                    coréen en France.
                    Le gouvernement coréen lança alors un concours national à partir du grade 5°Dan.
                    Parmi les 84 candidats, Maître LEE Kwan-Young remporta le concours et fut ainsi l'expert coréen choisi comme pionnier du Taekwondo en France...
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border center-block" src="../assets/images/history/Lee_Master.png"  alt="Le Taekwondo en France"/>
            </div>
        </div>
    </div>
</section>

<section class="technique">
    <div class="container">
        <div class="row text-center">
            <p><a id="technical"></a></p>
            <h2>Le Taekwondo: Techniques de base</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Les techniques de Taekwondo reconnues par la Fédération Mondiale (<em>W.T.F.</em>) sont diverses et variées.
                    Il en existe une multitude; malgré tout, des <strong>techniques dites de base et/ou fondamentales</strong> sont indispensables
                    à travailler régulièrement et à perfectionner  pour transformer son corps en une arme efficace et développer l'éventail
                    technique qu'offre le Taekwondo.
                </p>
                <p>On parle de "<strong><em>Kibon</em></strong>" pour désigner le travail des <strong>techniques élémentaires</strong> qui sont également
                    <strong>incontournables en vue de perfectionner les Poomsae...</strong>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Le <strong><em>Kukkiwon</em></strong>, Centre Mondial du Taekwondo (également désigné comme le "<em>Quartier Général</em>" de la W.T.F. ...), précise dans son livre officiel
                    <strong>"Taekwondo Textbook"</strong> les techniques de bases suivantes:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center kibon">
                <p><strong>Kibon Jumbi seogui</strong></p>
                <p><em>(basic ready stance)</em></p>
                <p>Position prête que l'on exécute au commandement "Jumbi"</p>
            </div>
            <div class="col-md-3">
                <img class="img-responsive img-border center-block img-kibon" src="../assets/images/technical/kibon-jumbi-seugui.jpg"  alt="kibon jumbi seugui vue de face"/>
            </div>
            <div class="col-md-3">
                <img class="img-responsive img-border center-block img-kibon" src="../assets/images/technical/kibon-jumbi-seugui2.jpg"  alt="kibon jumbi seugui vue de profil"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 technical-col"></div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive img-border center-block img-kibon" src="../assets/images/technical/jutchumseugui-montong-jileugui.jpg"  alt="jutchumseugui montong jileugui"/>
            </div>
            <div class="col-md-6 text-center kibon">
                <p><strong>Juchum seugui montong jireugi</strong></p>
                <p><em>(riding stance trunk jireugui)</em></p>
                <p>Position cavalier coup de poing niveau moyen</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 technical-col"></div>
        </div>

        <div class="row">
            <div class="col-md-6 text-center kibon">
                <p><strong>Arae makki</strong></p>
                <p><em>(underneath makki)</em></p>
                <p>Blocage au niveau bas</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border center-block img-kibon" src="../assets/images/technical/ale-makki.jpg"  alt="ale makki"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 technical-col"></div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive img-border center-block img-kibon" src="../assets/images/technical/Bande-jileugui.jpg"  alt="Bande jileugui"/>
            </div>
            <div class="col-md-6 text-center kibon">
                <p><strong>Montong Bandae jireugi</strong></p>
                <p><em>(trunk right side jireugi)</em></p>
                <p>Coup de poing niveau moyen même côté que la jambe devant</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 technical-col"></div>
        </div>

        <div class="row">
            <div class="col-md-6 text-center kibon">
                <p><strong> Ap tchagui</strong></p>
                <p><em>(front kick)</em></p>
                <p>Coup de pied de face</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border center-block img-kibon" src="../assets/images/technical/ap-tchagui-eulgoul.jpg"  alt="ap tchagui eulgoul"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 technical-col"></div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive img-border center-block img-kibon" src="../assets/images/technical/Sonnal-bakkat-tchigui.jpg"  alt="Sonnal bakkat tchigui"/>
            </div>
            <div class="col-md-6 text-center kibon">
                <p><strong>Sonnal bakkat tchigui</strong></p>
                <p><em>(hand-blade outer tchigui)</em></p>
                <p>Attaque tranchant de la main vers l'extérieur</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 technical-col"></div>
        </div>

        <div class="row">
            <div class="col-md-6 text-center kibon">
                <p><strong>Montong makki</strong></p>
                <p><em>(trunk makki)</em></p>
                <p>Blocage niveau moyen mouvement vers l'intérieur</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border center-block img-kibon" src="../assets/images/technical/Montong-makki.jpg"  alt="Montong makki"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 technical-col"></div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive img-border center-block img-kibon" src="../assets/images/technical/Yop-Tchagui.jpg"  alt="Yop Tchagui"/>
            </div>
            <div class="col-md-6 text-center kibon">
                <p><strong>Yop tchagui</strong></p>
                <p><em>(side kick)</em></p>
                <p>Coup de pied de côté</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 technical-col"></div>
        </div>

        <div class="row">
            <div class="col-md-6 text-center kibon">
                <p><strong>Sonnal makki</strong></p>
                <p><em>(hand-blade makki)</em></p>
                <p>Blocage avec deux mains</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border center-block img-kibon" src="../assets/images/technical/sonnal-montong-makki.jpg"  alt="sonnal montong makki"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 technical-col"></div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive img-border center-block img-kibon" src="../assets/images/technical/eulgoul-makki.jpg"  alt="eulgoul makki"/>
            </div>
            <div class="col-md-6 text-center kibon">
                <p><strong>Eulgoul makki</strong></p>
                <p><em>(Face makki)</em></p>
                <p>Blocage niveau visage</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 technical-col"></div>
        </div>

        <div class="row">
            <div class="col-md-6 text-center kibon">
                <p><strong>Sonnal mok tchigui</strong></p>
                <p><em>(hand-blade neck tchigui)</em></p>
                <p>Attaque au cou avec tranchant de la main</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border center-block img-kibon" src="../assets/images/technical/sonnal-mok-tchigui.jpg"  alt="sonnal mok tchigui"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 technical-col"></div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive img-border center-block img-kibon" src="../assets/images/technical/Dollyo-tchagui.jpg"  alt="Dollyo tchagui"/>
            </div>
            <div class="col-md-6 text-center kibon">
                <p><strong>Dollyo tchagui</strong></p>
                <p><em>(turning kick)</em></p>
                <p>Coup de pied circulaire</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 technical-col"></div>
        </div>

        <div class="row">
            <div class="col-md-6 text-center kibon">
                <p><strong>Montong Baro jileugui</strong></p>
                <p><em>(trunk opposite side jileugui)</em></p>
                <p>Coup de poing direct niveau moyen, bras opposé à la jambe devant</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border center-block img-kibon" src="../assets/images/technical/montong-baro-jileugui.jpg"  alt="montong baro jileugui"/>
            </div>
        </div>
    </div>
</section>

<section class="lexicon">
    <div class="container" id="lexicon">
        <div class="row text-center">
            <p><a id="lexicon"></a></p>
            <h2 class="lexicon-title">Le Taekwondo: Lexique technique</h2>
        </div>
        <div class="row">
            <h3>Les nombres</h3>
        </div>
        <div class="row">
            <div class="col-md-1 col-md-offset-1">1: Hana </div>
            <div class="col-md-1">2: Dul </div>
            <div class="col-md-1">3: Set </div>
            <div class="col-md-1">4: Net </div>
            <div class="col-md-1">5: Dasôt </div>
            <div class="col-md-1">6: Yôsôt </div>
            <div class="col-md-1">7: Ilgop </div>
            <div class="col-md-1">8: Yodôl </div>
            <div class="col-md-1">9: Ahop </div>
            <div class="col-md-1">10: Yôl </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Les commandements</h3>
                <ul>
                    <li><strong>Tcha Ryôt:</strong> garde à vous </li>
                    <li><strong>Kyong Rye:</strong> saluez</li>
                    <li><strong>Jumbi:</strong> en position de départ (prêt)</li>
                    <li><strong>Kyôrugui jumbi:</strong> en position de combat</li>
                    <li><strong>Si jak:</strong> commencez (partez)</li>
                    <li><strong>Kuman:</strong> arrêtez</li>
                    <li><strong>Swio:</strong> repos</li>
                    <li><strong>Kal Ryô:</strong> écartez-vous</li>
                    <li><strong>Baro:</strong> revenez en position initiale</li>
                    <li><strong>Chong:</strong> bleu</li>
                    <li><strong>Hong:</strong> rouge</li>
                    <li><strong>Chong Sûng:</strong> bleu gagne</li>
                    <li><strong>Hong Sûng:</strong> rouge gagne</li>
                    <li><strong>Duiro dora:</strong> demi-tour</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Les généralités</h3>
                <ul>
                    <li><strong>Mu Do:</strong> Voie martiale </li>
                    <li><strong>Dojang:</strong> lieu de pratique</li>
                    <li><strong>Youkeupja:</strong> pratiquant de Taekwondo possédant un grade "Keup"</li>
                    <li><strong>Youdanja:</strong> pratiquant ceinture noire de Taekwondo (grade "Dan")</li>
                    <li><strong>Ap:</strong> avant</li>
                    <li><strong>Duit:</strong> arrière</li>
                    <li><strong>Yop:</strong> de côté</li>
                    <li><strong>Dollyo:</strong> circulaire</li>
                    <li><strong>Nellyo:</strong> mouvement descendant</li>
                    <li><strong>Ale:</strong> niveau bas</li>
                    <li><strong>Montong:</strong> niveau moyen</li>
                    <li><strong>Eulgoul:</strong> niveau haut</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Les positions</h3>
                <ul>
                    <li><strong>Ap seugui:</strong> position naturelle de marche </li>
                    <li><strong>Jou tchoum seugui:</strong> position du "cavalier"</li>
                    <li><strong>Ap koubi:</strong> position basse avancée</li>
                    <li><strong>Duit koubi:</strong> position basse reculée (angle de 90° formé par l'orientation des deux pieds)</li>
                    <li><strong>Beum seugui:</strong> position du tigre</li>
                    <li><strong>Moa seugui:</strong> position avec pieds joints, jambes tendues</li>
                    <li><strong>Naranhi seugui:</strong> position debout, jambes tendues et parallèles (largeur du bassin)</li>
                    <li><strong>Oen seugui:</strong> position debout, pieds formant un angle de 90°, pied gauche tourné vers l'extérieur</li>
                    <li><strong>Oreun seugui:</strong> position debout, pieds formant un angle de 90°, pied droit tourné vers l'extérieur</li>
                    <li><strong>Koa seugui:</strong> position en jambes croisées, légèrement pliées</li>
                </ul>
            </div>
        </div>
<div class="row">
        <div class="col-md-4">
            <h3>Les techniques de blocages</h3>
            <ul>
                <li><strong>Ale makki:</strong> blocage au niveau bas  </li>
                <li><strong>Montong makki:</strong> blocage vers l'intérieur au niveau moyen </li>
                <li><strong>Montong an makki:</strong> blocage vers l'intérieur au niveau moyen avec bras opposé à la jambe avant </li>
                <li><strong>Eulgoul makki:</strong> blocage au niveau haut </li>
                <li><strong>Han sonnal montong makki:</strong> blocage au niveau moyen avec une main ouverte</li>
                <li><strong>Sonnal makki:</strong> blocage avec tranchants des deux mains</li>
                <li><strong>Montong bakkat makki:</strong> blocage au niveau moyen vers l'extérieur</li>
                <li><strong>Batangson makki:</strong> blocage avec paume de la main</li>
                <li><strong>Godeulô makki:</strong> blocage renforcé (deux bras)</li>
                <li><strong>Eutkeulo makki:</strong> blocage croisé (deux bras)</li>
                <li><strong>Hetchio makki:</strong> blocage des deux bras écartés (blocage avec partie externe ou interne des avants-bras)</li>
                <li><strong>Kahui makki:</strong> blocages simultanés au niveau moyen avec la partie interne de l'avant-bras et au niveau bas
                    avec la partie externe de l'avant-bras</li>
                <li><strong>Oé santeul makki:</strong> blocages simultanés au niveau supérieur avec la partie interne de l'avant-bras et au
                    niveau inférieur avec la partie externe de l'avant-bras</li>
                <li><strong>Keumgang makki:</strong> blocages simultanés au niveau supérieur et inférieur avec les parties externes des avant-bras</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Les techniques d'attaques avec l'utilisation des bras</h3>
            <ul>
                <li><strong>Jileugui:</strong> coup de poing</li>
                <li><strong>Montong bandé jileugui:</strong> coup de poing direct au niveau moyen côté jambe avant</li>
                <li><strong>Montong balo jileugui:</strong> coup de poing direct au niveau moyen côté jambe arrière</li>
                <li><strong>Montong yop jileugui:</strong> coup de poing direct au niveau moyen sur le côté</li>
                <li><strong>Tchi jileugui:</strong> coup de poing montant</li>
                <li><strong>Jetcho jileugui:</strong> coup de poing direct, dos du poing vers le sol (trajectoire légèrement oblique)</li>
                <li><strong>Pyojok jileugui:</strong> coup de poing direct contre l'autre main servant de cible</li>
                <li><strong>Deung joumok ap tchigui:</strong> frappe de face avec le revers du poing</li>
                <li><strong>Bakkat tchigui:</strong> frappe avec le revers de poing dans un mouvement vers l'extérieur</li>
                <li><strong>Me joumok ap tchigui:</strong> frappe de face avec le "marteau" du poing</li>
                <li><strong>Sonnal mok tchigui:</strong> frappe au cou avec le tranchant de la main dans un mouvement circulaire vers l'intérieur</li>
                <li><strong>Sonnal bakkat tchigui:</strong> frappe avec le tranchant de la main dans un mouvement circulaire vers l'extérieur</li>
                <li><strong>Batangson tok tchigui:</strong> frappe directe avec la paume d'une main</li>
                <li><strong>Kaljébi:</strong> frappe directe au niveau supérieur, main en position "A Gwi Sonn"</li>
                <li><strong>Palkoup tchigui:</strong> coup de coude</li>
                <li><strong>Jébipum mok tchigui:</strong> mouvements simultanés de blocage (niveau supérieur) et d'attaque (au cou)</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Les techniques de coup de pied</h3>
            <ul>
                <li><strong>Ap Tchagui:</strong> coup de pied de face</li>
                <li><strong>Yop Tchagui:</strong> coup de pied de côté</li>
                <li><strong>Dollyo tchagui:</strong> coup de pied circulaire</li>
                <li><strong>Bandal tchagui:</strong> coup de pied semi-circulaire (trajectoire diagonale)</li>
                <li><strong>Duit tchagui:</strong> coup de pied en arrière</li>
                <li><strong>Biteuleu tchagui:</strong> coup de pied dans un mouvement de torsion</li>
                <li><strong>Mileu tchagui:</strong> coup de pied poussé</li>
                <li><strong>Nakkeu tchagui:</strong> coup de pied porté horizontalement avec la jambe pliée vers l'extérieur</li>
                <li><strong>Frouryo tchagui:</strong> coup de pied "fouetté, touchant puis dépassant la cible</li>
                <li><strong>Naeryo tchagui:</strong> coup de pied "marteau" (mouvement descendant)</li>
                <li><strong>An tchagui:</strong> coup de pied vers l'intérieur</li>
                <li><strong>Bakkat tchagui:</strong> coup de pied dans un mouvement vers l'extérieur</li>
                <li><strong>Momdollyo tchagui:</strong> coup de pied circulaire retourné</li>
                <li><strong>Mouroup tchigui:</strong> frappe avec le coup de genou</li>
                <li><strong>Pyojok tchagui:</strong> coup de pied circulaire dans l'autre main qui sert de cible</li>
                <li><strong>Touio tchagui:</strong> coup de pied sauté</li>
                <li><strong>Kahui tchagui:</strong> coups de pied simultanés contre deux adversaires en sautant</li>
            </ul>
        </div>
</div>



{% endblock %}

