{% extends 'layout.html.twig' %}
{% block content %}
<section class="presentation-taekwondo">
    <div class="container">
        <div class="row text-center">
            <h2>Présentation du Taekwondo</h2>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive img-border center-block" src="../assets/images/presentation/presentation_taekwondo.jpg" alt="photo"/>
            </div>

            <div class="col-md-6 signification">
                <div class="row description-taekwondo">
                    <div class="col-md-2">
                        <img class="img-taekwondo img-responsive center-block" src="../assets/images/presentation/tae.png" alt="photo"/>
                    </div>
                    <div class="col-md-10 align">
                        <p><strong><em>"TAE"</em></strong> signifie coup de pied</p>
                    </div>
                </div>

                <div class="row description-taekwondo">
                    <div class="col-md-2">
                        <img class="img-taekwondo img-responsive  center-block" src="../assets/images/presentation/kwon.png" alt="photo"/>
                    </div>
                    <div class="col-md-10 align">
                        <p><strong><em>"KWON"</em></strong> signifie le poing</p>
                    </div>
                </div>

                <div class="row description-taekwondo">
                    <div class="col-md-2">
                        <img class="img-taekwondo img-responsive  center-block" src="../assets/images/presentation/do.png" alt="photo"/>
                    </div>
                    <div class="col-md-10 align">
                        <p><strong><em>"DO"</em></strong> veut dire la Voie, l'Esprit</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <p>Le Taekwondo se traduit donc littéralement par <strong><em>"la Voie par l'utilisation des techniques de pied et de poing"</em></strong></p>
            <p>Cet art martial coréen vise à utiliser avec un maximum d'efficacité toutes les parties du corps humain servant à se défendre ou à attaquer.
            Il se pratique essentiellement sans armes. Les techniques de coups de pied(<em>Tchagui</em>) et les techniques de bras sont l'apanage de l'entraînement
            de Taekwondo. Afin d'être efficace dans le combat et de tendre vers une maîtrise technique, il est primordiale de leur imposer un travail
            assidu et long. Le Taekwondo transforme alors le corps en une arme redoutable.</p>
            <p>Outre la recherche d'une efficacité martiale, le Taekwondo constitue une
            pratique physique idéale qui permetd'harmoniser l'ensemble du corps. Cette pratique saine améliore la santé et le bien-être.
            </p>
            <p>Enfin, il ne faut pas voir dans le Taekwondo qu'une activité visant à frapper, porter des coups ou encore casser des planches, des tuiles...
            Il exige un certain état d'esprit: respect d'autrui, persévérance, loyauté, etc. Le Taekwondo vise à l'épanouissement de l'âme autant qu'à celui du corps.</p>
            <p class="text-center"><strong><em>Le Taekwondo représente une voie vers l'union du corps et de l'esprit, un chemin vers la sagesse, un art de vivre.</em></strong></p>
        </div>

        <div class="row text-center">
            <div class="col-md-3">
                <button type="button" class="btn color-btn btn-primary btn-lg">HISTOIRE</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn color-btn btn-primary btn-lg">LEXIQUE</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn color-btn btn-primary btn-lg">TECHNIQUE</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn color-btn btn-primary btn-lg">PRATIQUE</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}

